<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title> Rantings </title>
    <link rel="stylesheet" type="text/css" href="/assets/css/main.css" charset="utf-8"/>
    <link rel="stylesheet" type="text/css"
                           href="/assets/css/highlight.css" charset="utf-8"/> 
    <link rel="stylesheet" type="text/css" href="/assets/fonts/stylesheet.css" charset="utf-8"/>

    <link rel="alternate" title="Alexis Praga's blog - feed"/>

    <link rel="icon" href="/assets/favicon.ico">
    <!-- fonts --!>
      <link href="http://fonts.googleapis.com/css?family=Ubuntu:400,400italic,700" rel="stylesheet" type="text/css">
      <link href='http://fonts.googleapis.com/css?family=PT+Mono' rel='stylesheet' type='text/css'>
      <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/> 

      <meta name="description" content="Alexis Praga's personal site (projects and notes)." />

      <script type="text/javascript"
        src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
      <script type="text/javascript">
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-25172429-1']);
        _gaq.push(['_trackPageview']);
        (function() {
         var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
         ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
         var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);})();
    </script>

    </head>
    <body>
      <div class="wrapper">
        <div class="banner">
          <div class="title">Rantings</div>
          <div class="menu">
            <a href="/">Home</a>
            <a href="/computing.html">Computing</a>
            <a href="/projects.html">Projects</a>
            <a href="/notes/notes.html">Notes</a>
          </div>
        </div>
        <div class="main">
